hdfs
kafka-python
minio
poyo
pytest
pytz
requests
apache-airflow[postgres,password]
pandas
scikit-learn
joblib
pytest-spark
confluent-kafka
psycopg2-binary
SQLAlchemy
Flask-SQLAlchemy
typing_extensions
configparser
jinja2
werkzeug